body {
    background-color: rgb(2, 105, 146);
    color: white;
    font: normal 15pt Arial;
    text-align: center;
    border: solid 5px white;
    border-radius: 25px;
    margin: 25px;
}
ul {
    list-style: none;
    padding: 3px;
    border: solid 3px white;
    margin-left:535px ;
    margin-right:535px ;
    border-radius: 25px;
    }
    li {
        padding: 5px;
        display: inline-block;
    }
    a {
        color: white;
        text-decoration: none;
    }
    li :hover {
        color: black;
        transition: 0.5s;
    }